@import '../../style/variables.scss';

.root {
  header {
    margin-bottom: 3rem;
    text-align: center;
  }

  h2 {
    border-bottom: 2px solid hsl(var(--accent-color));
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 5px;
    margin: 0 auto;
    padding: .5rem .2rem;
    text-align: center;
    text-transform: uppercase;
    transition: border .3s ease-in-out;
    will-change: border;
  }
}

.item {
  display: flex;
  padding: 1rem 0 3rem;
  transition: border .3s ease-in-out;
  will-change: border;

  &:not(:last-child) {
    border-bottom: 1px solid hsla(var(--text-color), .1);
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 .5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  a {
    color: hsl(var(--link-color));

    &:hover {
      color: hsl(var(--link-hover-color));
    }
  }

  figure {
    margin: 1rem 4rem 1rem 2rem;

    img {
      box-shadow: 0 3px 10px 10px hsla(var(--black), .2);
      outline: 7px solid hsl(var(--white));
      transform: rotate3d(1, 1, 1, -5deg);
    }
  }

  .pictogrammers {
    margin-top: -1rem;

    img {
      box-shadow: none;
      outline: 0;
      transform: none;
    }
  }
}

.subheading {
  font-weight: 400;
  margin: 0;

  em {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: $mobile-width) {
  .item {
    flex-direction: column;

    h3 {
      font-size: 1.8rem;
    }

    figure {
      margin: 0;
      text-align: center;

      img {
        height: auto;
        margin-bottom: 2rem;
        max-width: 100%;
        transform: rotate3d(1, 1, 1, 0);
      }
    }
  }

  .subheading {
    em {
      display: block;
    }
  }
}
