@import '../../style/variables.scss';

.root {
  align-items: center;
  background-color: $active-color;
  border: none;
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 3px 5px -1px rgba($black, .2), 0 6px 10px rgba($black, .14), 0 1px 18px rgba($black, .12);
  color: $white;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: center;
  opacity: 1;
  outline: none;
  position: fixed;
  right: 2rem;
  transition: background-color .3s, opacity .5s;
  width: 56px;
  will-change: background-color, opacity;

  &:hover {
    background-color: darken($active-color, 10%);
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (max-width: 736px) {
  .root {
    bottom: 1rem;
    right: 1rem;
  }
}
