.root {
  align-items: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--primary-font);
  font-size: .8rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 2px;
  outline: 0;
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  user-select: none;
  will-change: color, background-color;

  .start-icon {
    display: flex;
    margin-right: .5rem;
  }

  &.disabled {
    background-color: rgb(214 214 214);
    color: rgb(0 0 0 / 25%);
    cursor: default;
    pointer-events: none;
  }

  &.neutral {
    background-color: rgb(214 214 214);
    color: hsla(var(--black), .7);

    &:hover {
      background-color: rgb(190 190 190);
      color: hsla(var(--black), .7);
    }
  }

  &.dark {
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--white));

    &:hover {
      background-color: hsl(var(--blue));
      color: hsl(var(--white));
    }
  }

  &.light {
    background-color: hsl(var(--white));
    color: hsla(var(--black), .8);

    &:hover {
      background-color: hsl(var(--dark-blue));
      color: hsl(var(--white));
    }
  }
}
