@import '../../style/variables.scss';

.root {
  align-items: center;
  background-image: url('../../assets/images/chicago.jpg');
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-top: 56px;
  will-change: background-position-y;

  @supports (background-image: url('../../assets/images/chicago.webp')) {
    background-image: url('../../assets/images/chicago.webp');
  }
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 80%;
  text-align: center;

  h1,
  em {
    color: $white;
  }

  h1 {
    font-size: 9vh;
    font-weight: 600;
    margin-bottom: 0;
  }

  em {
    font-style: normal;
  }
}

.subheading {
  color: darken($white, 20%);
  font-family: $secondary-font;
  font-size: 2.5vh;
  font-weight: 500;

  a {
    text-decoration: none;

    &:hover {
      color: lighten($active-color, 25%);
    }
  }
}

.social {
  border-top: 1px solid rgba($white, .25);
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem;

  a {
    margin: .5rem;

    &:hover {
      color: lighten($active-color, 25%);
    }
  }
}

.scroll {
  align-items: center;
  color: $white;
  display: flex;
  font-size: .7rem;
  letter-spacing: .25rem;
  margin: auto 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  will-change: color;

  svg {
    margin-right: .5rem;
  }

  span {
    border-bottom: transparent;
    padding: 5px 0 5px 1px;
    transition: border-bottom .5s;
  }

  &:hover {
    color: $white;

    span {
      border-bottom: 1px solid $active-color;
    }
  }
}
