@import '../../style/variables.scss';

.root {
  align-items: center;
  background-image: url('../../assets/images/chicago.jpg');
  background-position: right;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  will-change: background-position-y;

  @supports (background-image: url('../../assets/images/chicago.webp')) {
    background-image: url('../../assets/images/chicago.webp');
  }
}

.hero {
  max-width: 80%;
  text-align: center;

  h1,
  em {
    color: $white;
  }

  h1 {
    font-size: 9vh;
    font-weight: 600;
    margin-bottom: 0;
  }

  h2 {
    color: rgba($white, .7);
    font-family: $secondary-font;
    font-size: 2.5vh;
    font-weight: 500;
  }

  em {
    font-style: normal;
  }
}

.social {
  border-top: 1px solid rgba($white, .25);
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem;

  a {
    margin: .5rem;
  }
}

.scroll {
  align-items: center;
  bottom: 2rem;
  color: $white;
  display: flex;
  font-size: .7rem;
  letter-spacing: .25rem;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  will-change: color;

  svg {
    margin-right: .5rem;
  }

  span {
    overflow: hidden;
    padding: 5px 0 5px 1px;
    position: relative;

    &::after {
      border-bottom: 1px solid $active-color;
      bottom: 0;
      content: '';
      left: -250px;
      position: absolute;
      transition: left .5s ease-in-out;
      width: 100%;
      will-change: left;
    }
  }

  &:hover {
    color: $white;

    span {
      &::after {
        left: 0;
      }
    }
  }
}
