.root {
  background-image: url('../../assets/images/chicago.jpg');
  background-position: right;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
}

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hero {
  max-width: 80%;
  text-align: center;
  transform: translateZ(0);
  z-index: 4;

  h1 {
    color: rgb(255, 255, 255);
    font-size: 9vh;
    font-weight: 600;
    margin-bottom: 0;
  }

  h1,
  em,
  a {
    color: rgb(255, 255, 255);
  }

  h2 {
    color: rgba(255, 255, 255, .7);
    font-family: var(--secondary-font);
    font-size: 2.5vh;
    font-weight: 500;
  }

  em {
    font-style: normal;
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--active-color);
    }
  }
}

.social {
  border-top: 1px solid rgba(255, 255, 255, .25);
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem;

  a {
    margin: .5rem;
  }
}

.scroll {
  align-items: center;
  bottom: 2rem;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: .7rem;
  letter-spacing: .25rem;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  will-change: color;
  z-index: 4;

  svg {
    margin-right: .5rem;
  }

  span {
    overflow: hidden;
    padding: 5px 0 5px 1px;
    position: relative;

    &::after {
      border-bottom: 1px solid var(--active-color);
      bottom: 0;
      content: '';
      left: -250px;
      position: absolute;
      transition: left .5s ease-in-out;
      width: 100%;
      will-change: left;
    }
  }

  &:hover {
    span {
      &::after {
        left: 0;
      }
    }
  }
}
