.root {
  align-items: center;
  background-image: var(--hero-image);
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-top: 56px;
  transition: background-image .3s ease-in-out;
  will-change: background-image, background-position-y;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 80%;
  text-align: center;
  text-shadow: 0 0 20px hsl(var(--black));

  h1,
  em {
    color: hsl(var(--white));
  }

  h1 {
    font-size: 9vh;
    font-weight: 500;
    margin-bottom: 0;
  }

  em {
    font-style: normal;
  }
}

.subheading {
  color: hsla(var(--white), .8);
  font-family: var(--secondary-font);
  font-size: 2.5vh;
  font-weight: 500;
  letter-spacing: normal;

  a {
    text-decoration: none;

    &:hover {
      color: hsl(var(--blue));
    }
  }
}

.social {
  border-top: 1px solid hsla(var(--white), .25);
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem;

  a {
    margin: .5rem;

    &:hover {
      color: hsl(var(--blue));

      &.linkedin {
        color: hsl(var(--linkedin-color));
      }

      &.twitter {
        color: hsl(var(--twitter-color));
      }
    }
  }
}

.scroll {
  align-items: center;
  color: hsl(var(--white));
  display: flex;
  font-size: .7rem;
  letter-spacing: .25rem;
  margin: auto 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  will-change: color;

  svg {
    margin-right: .5rem;
  }

  span {
    border-bottom: 1px solid transparent;
    padding: 5px 0 5px 1px;
    transition: border-bottom .5s;
  }

  &:hover {
    color: hsl(var(--white));

    span {
      border-bottom: 1px solid hsl(var(--dark-blue));
    }
  }
}
