@import '../../style/variables.scss';

.root {
  align-items: center;
  background-color: hsla(var(--black), .9);
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$footer-height});
  justify-content: center;
  position: static;
  width: 100%;
  z-index: 9;
}

.container {
  background-color: hsl(var(--white));
  border-radius: 5px;
  color: hsl(var(--black));
  padding: .5rem 2rem;
  text-align: center;
  user-select: none;

  h1 {
    text-transform: capitalize;

    span {
      color: hsla(var(--black), .5);
      display: block;
      font-size: .7rem;
      font-weight: 400;
      margin-bottom: .5rem;
    }
  }

  a {
    margin-top: 1rem;
    width: 100%;
  }
}

.error {
  overflow: hidden;
}

@media only screen and (max-width: $mobile-width) {
  .root {
    height: calc(100% - #{$footer-height-mobile});
  }

  .container {
    font-size: .8rem;
    width: 90%;
  }
}
