@import '../../style/variables.scss';

.root {
  align-items: center;
  display: flex;
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: normal;
  margin: 1rem 0;

  picture {
    margin-right: .5rem;
  }

  img {
    border-radius: 50%;
  }

  .bullet {
    color: hsl(var(--text-color));
    padding: 0 .5rem;
    transition: color .3s ease-in-out;
    will-change: color;
  }

  time,
  .estimate {
    color: hsla(var(--text-color), .67);
    font-family: var(--primary-font);
    font-size: .9rem;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    will-change: color;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    p {
      margin: 0;
    }
  }

  .bullet {
    display: none;
  }

  time,
  .estimate {
    display: block;
  }
}
