@import '../../style/variables.scss';

.root {
  align-items: center;
  display: flex;
  font-family: $secondary-font;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: normal;
  margin: 1rem 0;

  picture {
    margin-right: .5rem;
  }

  img {
    border-radius: 50%;
  }

  .bullet {
    color: $black;
    padding: 0 .5rem;
  }

  time,
  .estimate {
    color: rgba($black, .67);
    font-family: $primary-font;
    font-size: .9rem;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    p {
      margin: 0;
    }
  }

  .bullet {
    display: none;
  }

  time,
  .estimate {
    display: block;
  }
}
