@import '../../style/variables.scss';

.root {
  align-items: center;
  background-color: rgb(20 20 20);
  display: flex;
  flex-direction: column;
  height: calc(100% - 137px);
  justify-content: center;
  position: static;
  width: 100%;
  z-index: 9;
}

.container {
  background-color: $white;
  border-radius: 5px;
  padding: .5rem 2rem;
  text-align: center;
  user-select: none;

  h1 {
    text-transform: capitalize;

    span {
      color: rgba($black, .5);
      display: block;
      font-size: .7rem;
      font-weight: 400;
      margin-bottom: .5rem;
    }
  }

  a {
    border-radius: 4px;
    color: rgba($black, .5);
    display: block;
    font-size: .9rem;
    letter-spacing: 2px;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $active-color;
      color: $white;
    }
  }
}

.success {
  overflow: hidden;
}

@media only screen and (max-width: 736px) {
  .root {
    height: calc(100% - 100px);
  }

  .container {
    font-size: .8rem;
    width: 90%;
  }
}
