@import '../../style/variables.scss';

.root {
  display: flex;
  justify-content: center;
  padding: 8rem 3rem;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  will-change: background-color, color;
}

.container {
  display: block;
  max-width: $width-max;
  width: 100%;
}

@media only screen and (max-width: $mobile-width) {
  .root {
    padding: 6rem 2rem;
  }

  .container {
    flex-direction: column;
  }
}
