@import '../../style/variables.scss';

.category {
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid hsla(var(--text-color), .1);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    transition: border .3s ease-in-out;
    will-change: border;
  }
}

.heading {
  flex: 2;
  user-select: none;

  h2 {
    border-bottom: 2px solid hsl(var(--accent-color));
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 5px;
    padding: .5rem .2rem;
    text-transform: uppercase;
    transition: border .3s ease-in-out;
    will-change: border;
  }
}

.items {
  flex: 5;
}

.item {
  padding: 1rem 0 2rem;

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 .5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  hr {
    background-color: hsla(var(--text-color), .1);
    border: none;
    height: 1px;
    margin: 2rem 0;
    transition: background-color .3s ease-in-out;
    will-change: background-color;
  }

  .button {
    margin: 0 1rem 1rem 0;
  }
}

.subheading {
  font-weight: 400;
  margin: 0;

  em {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    letter-spacing: normal;
  }

  span {
    color: hsla(var(--text-color), .67);
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    will-change: color;
  }

  .bullet {
    color: hsl(var(--text-color));
    padding: 0 .5rem;
    transition: color .3s ease-in-out;
    will-change: color;
  }
}

@media only screen and (max-width: $mobile-width) {
  .category {
    flex-direction: column;
  }

  .bullet {
    display: none;
  }

  .item {
    h3 {
      font-size: 1.8rem;
    }

    .button {
      width: 100%;
    }
  }

  .subheading {
    em {
      display: block;
    }
  }
}
