@import '../../style/variables.scss';

.root {
  align-items: center;
  background-color: hsl(var(--dark-grey)) !important; /* stylelint-disable-line declaration-no-important */
  color: hsl(var(--white));
  min-height: 100vh;

  & > div {
    display: flex;
  }
}

.avatar {
  margin: 2rem 5rem 0 0;
}

.about {
  h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  p {
    color: hsl(var(--white) / 80%);
    font-size: 1.1rem;
    line-height: 1.75;
  }
}

.contact {
  border-top: 1px solid hsl(var(--white) / 10%);
  display: flex;
  margin-top: 4rem;
  padding-top: 4rem;
}

@media only screen and (max-width: $mobile-width) {
  .root {
    & > div {
      flex-direction: column;
    }
  }

  .avatar {
    margin: 0 auto 3rem;
  }

  .about {
    h2 {
      text-align: center;
    }
  }

  .contact {
    flex-direction: column;
  }

  .details {
    text-align: center;
    width: 100%;
  }
}
