.root {
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: $white;
  min-height: 100vh;
}

.avatar {
  margin: 2rem 5rem 0 0;
}

.about {
  h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  p {
    color: rgba($white, .8);
    font-size: 1.1rem;
    line-height: 1.75;
  }
}

.contact {
  border-top: 1px solid rgba($white, .05);
  display: flex;
  margin-top: 4rem;
  padding-top: 4rem;
}

.details {
  width: 50%;

  h3 {
    font-size: 1.8rem;
    margin-top: 0;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  a {
    color: rgba($white, .5);
  }
}

.actions {
  a {
    align-items: center;
    background-color: $white;
    border: 0;
    border-radius: 5px;
    color: $text-color;
    display: flex;
    font-size: .8rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 2px;
    padding: 1.25rem 2.5rem;
    text-transform: uppercase;
    user-select: none;

    svg {
      margin-right: .25rem;
    }

    &:hover {
      background-color: $active-color;
      color: $white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .avatar {
    margin: 0 auto 3rem;
  }

  .about {
    h2 {
      text-align: center;
    }
  }

  .contact {
    flex-direction: column;
  }

  .details {
    text-align: center;
    width: 100%;
  }

  .actions {
    margin-top: 2rem;
  }
}
