@import '../../style/variables.scss';

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 137px);
  overflow-y: auto;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 7rem 1rem 1rem;

  a {
    color: $white;
    margin-top: 2rem;
    text-decoration: none;

    &:hover {
      color: $active-color;
    }
  }
}

.container {
  background-color: $white;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  user-select: none;

  a {
    color: $black;
    text-decoration: none;
  }
}

.file {
  align-items: center;
  border-top: 1px solid rgba($black, .1);
  display: flex;
  font-size: .9rem;
  font-weight: 600;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1.5rem 0 0;

  svg {
    margin-right: .2rem;
  }
}

.manual {
  color: rgba($black, .6);
  font-size: .7rem;
}

@media only screen and (max-width: $mobile-width) {
  .root {
    height: calc(100% - 100px);
  }

  .container {
    font-size: .8rem;
  }

  .about {
    img {
      height: 112.5px;
      width: 100px;
    }
  }
}
