@import '../../style/variables.scss';

.header {
  background-color: rgba($black, .9);
  box-shadow: 0 0 15px 2px rgba($black, .4);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 10;

  nav {
    align-items: center;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  a {
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgba($white, .8);
    cursor: pointer;
    display: flex;
    font-size: .9rem;
    margin-top: 3px;
    min-height: 58px;
    outline: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: color .5s .2s;

    &:hover {
      color: $white;
    }

    &.current {
      color: lighten($active-color, 25%);

      .home {
        color: $white;
        transition: none;
      }
    }
  }

  .desktop-home {
    align-items: center;
    color: $white !important;
    display: flex;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }

  .logo {
    color: $active-color;
    height: 24px;
    margin-right: .5rem;
    width: 24px;
  }

  .chevron {
    margin: 0 .25rem;
    opacity: .6;
  }
}

.progress {
  width: 100%;

  div {
    background-color: lighten($active-color, 25%);
    height: 4px;
    transition: width .1s;
    will-change: width;
  }
}

.mobile,
.mobile-home {
  display: none;

  button {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .mobile {
    align-items: center;
    background-color: rgb(10 10 10);
    color: $white;
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    height: 56px;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;

    .nav-container {
      align-items: center;
      display: flex;
      margin-left: 1rem;
      text-transform: capitalize;

      a {
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }

    button {
      background-color: $active-color;
      border: 0;
      color: $white;
      display: block;
      height: 56px;
      margin: 0;
      outline: 0;
      transition: background-color .5s;
      width: 56px;
      will-change: background-color;

      &.open {
        background-color: rgb(204 56 56);
      }
    }
  }

  .header {
    background-color: transparent;
    height: 56px;
    position: fixed;

    nav {
      background-color: transparent;
      flex-direction: column;
      height: 100%;
      height: 100vh;
      justify-content: start;
      overflow-y: auto;
      position: fixed;
      transform: translate3d(0, -200vh, 0);
      transition: transform .5s;
      visibility: hidden;
      width: 100%;
      will-change: transform, visibility;
      z-index: 9;

      ul {
        display: block;
        width: 100%;
      }

      &.active {
        padding-bottom: 56px;
        transform: translate3d(0, 56px, 0);
        visibility: visible;
      }

      a {
        background-color: rgb(10 10 10);
        border-top: 1px solid rgba($white, .2);
        color: $white;
        font-weight: 600;
        height: 56px;
        justify-content: center;
        margin: 0;
        width: 100%;
      }
    }

    .desktop-home {
      display: none;
    }

    .mobile-home {
      display: block;
    }
  }

  .progress {
    max-width: calc(100% - 56px);
    position: fixed;
    top: 52px;
    z-index: 11;
  }
}

:export {
  mobile-width: $mobile-width;
}
