@keyframes pulsate {
  from {
    box-shadow: 0 0 0 1rem hsl(var(--light-grey) / 20%);
  }

  to {
    box-shadow: 0 0 0 2rem hsl(var(--light-grey) / 20%);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $loader-offset;
  }

  50% {
    stroke-dashoffset: math.div($loader-offset, 4);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: $loader-offset;
    transform: rotate(450deg);
  }
}
