@import './theme.scss';

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
  width: 100%;
}

body {
  @media (prefers-color-scheme: light) {
    @include theme-light;
  }

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }

  &[class='light-mode'] {
    @include theme-light;
  }

  &[class='dark-mode'] {
    @include theme-dark;
  }

  color: hsl(var(--text-color));
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: .025rem;

  a {
    color: hsl(var(--white));
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover {
      color: hsl(var(--blue));
    }
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background-color: hsl(0, 0%, 8%);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: hsla(0, 0%, 100%, .3);
  border: 4px solid transparent;
  border-radius: 10px;
  transition: background-color 2s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
