$primary-font: 'Inter', sans-serif;
$secondary-font: 'IBM Plex Serif', serif;
$text-color: rgb(40 40 40);
$active-color: rgb(0 88 170);
$error-color: rgb(244 67 54);
$white: rgb(255 255 255);
$black: rgb(0 0 0);
$width-max: 1080px;
