@use 'sass:math';

$loader-offset: 187;
$loader-duration: 1.4s;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  svg {
    animation: cp-rotator $loader-duration linear infinite;
  }

  circle {
    animation: cp-dash $loader-duration ease-in-out infinite;
    stroke: hsl(var(--accent-color));
    stroke-dasharray: $loader-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
  }
}

@keyframes cp-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes cp-dash {
  0% {
    stroke-dashoffset: $loader-offset;
  }

  50% {
    stroke-dashoffset: math.div($loader-offset, 4);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: $loader-offset;
    transform: rotate(450deg);
  }
}
