@use 'sass:math';

$loader-offset: 187;
$loader-duration: 1.4s;

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  svg {
    animation: rotator $loader-duration linear infinite;
  }

  circle {
    animation: dash $loader-duration ease-in-out infinite;
    stroke: hsl(var(--accent-color));
    stroke-dasharray: $loader-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
  }
}
