@import '../../style/variables.scss';

.root {
  background-color: $white;
  color: $text-color;
  display: flex;
  justify-content: center;
  min-height: calc(100% - #{$footer-height});
  padding: 5rem 2rem;
}

.container {
  display: block;
  max-width: $width-max;
  width: 100%;
}

.articles {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 1rem;

  a {
    display: block;
    text-decoration: none;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  figure {
    margin: 0;
  }

  p {
    font-size: 1.1rem;
    font-weight: 700;
    margin: .5rem 0 0;
  }
}

.article {
  color: $text-color;
  display: flex;

  &:hover {
    color: $text-color;
  }

  figure {
    img {
      border-radius: 4px;
    }
  }
}

.latest {
  align-items: center;
  border-bottom: 1px solid rgba($black, .1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 3rem 0;
  text-decoration: none;

  h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .desc {
    margin: 0 0 2rem;
  }

  figure {
    margin: 0 0 0 2rem;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.badge {
  background-color: rgba($black, .1);
  border-radius: 4px;
  color: rgba($black, .5);
  display: inline-block;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.more {
  padding: 5rem 0 0;
  text-align: center;

  button {
    background-color: rgb(0 0 0 / 10%);
    border-radius: 4px;
    color: $black;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1.25rem 2.5rem;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    user-select: none;
    white-space: nowrap;
    will-change: background-color, color;

    &:hover {
      background-color: rgb(0 0 0 / 20%);
      color: $black;
    }
  }
}

.empty {
  align-items: center;
  color: rgba($black, .5);
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
  user-select: none;

  svg {
    color: rgba($black, .3);
    margin-right: .6rem;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    min-height: calc(100% - #{$footer-height-mobile});
    padding-top: 3rem;
  }

  .latest {
    flex-direction: column;

    h1 {
      margin-top: .5rem;
    }

    figure {
      margin: 0;
    }
  }
}
