@import '../../style/variables.scss';

.root {
  background-color: hsl(var(--black) / 90%) !important; /* stylelint-disable-line declaration-no-important */
  color: hsl(var(--white));
  height: $footer-height;
  position: static;
  user-select: none;
  z-index: 10;

  & > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $width-max;
    padding: 3rem 1rem;
  }
}

.copyright {
  color: hsl(var(--white) / 75%);
  margin: 0;
}

.social {
  a {
    margin: .5rem;

    &:hover {
      &.bluesky {
        color: hsl(var(--bluesky-color));
      }

      &.linkedin {
        color: hsl(var(--linkedin-color));
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    & > div {
      flex-direction: column-reverse;
      height: $footer-height-mobile;
      justify-content: center;
    }
  }

  .copyright {
    font-size: .8rem;
  }

  .social {
    margin-bottom: 1rem;

    a {
      padding: .75rem;
    }
  }
}
