@import '../../style/variables.scss';

.root {
  align-items: center;
  color: $white;
  display: flex;
  height: 137px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $width-max;
  padding: 3rem 1rem;
  position: static;
  user-select: none;
  z-index: 10;
}

.copyright {
  color: darken($white, 35%);
  margin: 0;
}

.social {
  a {
    margin: .5rem;
  }
}

@media only screen and (max-width: $mobile-width) {
  .root {
    flex-direction: column-reverse;
    height: 100px;
    justify-content: center;
  }

  .copyright {
    font-size: .8rem;
  }

  .social {
    margin-bottom: 1rem;

    a {
      padding: .75rem;
    }
  }
}
