.root {
  align-items: center;
  border-top: 1px solid rgba($white, .05);
  color: $white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $width-max;
  padding: 3rem 1rem;
  user-select: none;
}

.copyright {
  color: rgba($white, .5);
  margin: 0;
}

.social {
  a {
    margin: .25rem;
  }
}

@media only screen and (max-width: 600px) {
  .root {
    flex-direction: column-reverse;
  }

  .copyright {
    margin-top: 2rem;
  }

  .social {
    a {
      padding: .75rem;
    }
  }
}
