@import '../../style/variables.scss';

.root {
  padding: .5rem 0;

  label {
    display: block;
    font-size: .9rem;
    padding-bottom: .3rem;
  }

  input,
  textarea {
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 1rem;
    outline: none;
    padding: calc(.5rem + 1px);
    resize: vertical;
    width: 100%;

    &:disabled {
      background-color: hsla(var(--white), .5);
      color: hsla(var(--black), .5);
    }

    &:not(:disabled) {
      &:hover {
        border: 1px solid hsla(var(--accent-color), .8);
      }
    }

    &:focus {
      border: 2px solid hsla(var(--accent-color), .6);
      padding: .5rem;

      &:hover {
        border-width: 2px;
      }
    }
  }

  textarea {
    min-height: 82px;
  }

  &.invalid {
    label {
      color: hsl(var(--error-color));
    }

    input,
    textarea {
      border: 2px solid hsl(var(--red));
      padding: .5rem;

      &:hover {
        border: 2px solid hsla(var(--red), .8);
      }
    }
  }

  .error-text {
    color: hsl(var(--error-color));
    font-size: .9rem;
    margin: .2rem 0 0 2px;
  }
}
