<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:locale" content="en_US">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <link rel="alternate" type="application/rss+xml" title="Michael Irigoyen - Front-End Software Engineer" href="/feed.rss">
    <link rel="alternate" type="application/atom+xml" title="Michael Irigoyen - Front-End Software Engineer" href="/feed.xml">
    <link rel="alternate" type="application/feed+json" title="Michael Irigoyen - Front-End Software Engineer" href="/feed.json">
    <% preact.headEnd %>
  </head>
  <body>
    <script>!function(){var e="dark-mode",a="light-mode";function o(o){document.body.classList.add(o?e:a),document.body.classList.remove(o?a:e)}var t=window.matchMedia("(prefers-color-scheme: dark)"),r="(prefers-color-scheme: dark)"===t.media,d=null;try{d=localStorage.getItem("darkMode")}catch(e){}var s=null!==d;if(s&&(d=JSON.parse(d)),s)o(d);else if(r)o(t.matches),localStorage.setItem("darkMode",t.matches);else{var c=document.body.classList.contains(e);localStorage.setItem("darkMode",JSON.stringify(c))}}();</script>
    <% preact.bodyEnd %>
  </body>
</html>
