<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Michael Irigoyen - Front-End Software Engineer</title>
    <meta name="description" content="I'm a Chicago-based software engineer with a passion for front-end development and user experience.">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mririgo">
    <meta name="twitter:creator" content="@mririgo">
    <meta name="twitter:title" content="Michael Irigoyen - Front-End Software Engineer">
    <meta name="twitter:description" content="I'm a Chicago-based software engineer with a passion for front-end development and user experience.">
    <meta name="twitter:image" content="https://www.irigoyen.dev/assets/images/twitter-card.png">
    <meta property="og:url" content="https://www.irigoyen.dev/">
    <meta property="og:title" content="Michael Irigoyen - Front-End Software Engineer">
    <meta property="og:description" content="I'm a Chicago-based software engineer with a passion for front-end development and user experience.">
    <meta property="og:image" content="https://www.irigoyen.dev/assets/images/facebook-card.png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDW7F8T27Z"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','G-PDW7F8T27Z');</script>
    <script>(function(l){if(l.search[1]==='/'){var decoded=l.search.slice(1).split('&').map(function(s){return s.replace(/~and~/g,'&')}).join('?');window.history.replaceState(null,null,l.pathname.slice(0,-1)+decoded+l.hash);}}(window.location))</script>
    <% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
